# Firebird Database Configuration
FIREBIRD_HOST=localhost
FIREBIRD_PORT=3050
FIREBIRD_DATABASE_PATH=C:\akinsoft\Wolvox8\Database_FB\01\2018\WOLVOX.FDB
FIREBIRD_USER=sysdba
FIREBIRD_PASSWORD=masterkey

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True
FLASK_PORT=5000
